<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, :html => {class: 'form-horizontal' }, url: login_path) do |f| %>
      <%= render 'sessions/login_input', object:f  %>
      <div class="form-group">
        <div class="input-group">
          <%= f.submit 'Log in', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <div class="input-group">
      <p>New user? <%= link_to 'Sign up now!', new_registration_path %></p>
    </div>
  </div>
</div>
